body {
}

#board {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 10px;
	width: 980px;
}

#board > button {
	width: 100px;
	height: 100px;
	border: 1px solid;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(media/default.png);
}

.show {
	background-color: green;
	background-size: 100%;
}