body,
html {
	height: 100%;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1040px;
	margin: auto;
}

h1 {
	align-self: flex-end;
	flex-basis: 100%;
	margin-bottom: 0;
	text-align: center;
}

select {
	align-self: flex-start;
	font-size: 1.5em;
	margin: 1em 0 0;
}

.timer {
	align-self: flex-start;
	color: #fff;
	column-gap: 1em;
	display: flex;
	font-size: 1.5em;
	justify-content: center;
	margin-top: -4em;
	background: #0000007a;
	width: 50%;
	line-height: 1em;
	padding-top: 0.75em;
}

#time {
	margin-bottom: 1em;
}

.timer p {
	margin-top: 0;
	margin-bottom: .5em;
}

#board {
	align-self: baseline;
	background-color: #eeeeeead;
	column-gap: 20px;
	display: flex;
	flex-wrap: wrap;
	margin-top: -8em;
	padding: 20px;
	row-gap: 20px;
	width: 1040px;
}

#board > button {
	background-image: url(media/default.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border: 1px solid;
	height: 150px;
	width: 150px;
	font-size: 2em;
}

.show {
	background-color: green;
	background-size: 100%;
}
